<%= notice %>
<section class="container-fluid top-content">
  <h1>ギター会員管理データベース</h1>
  <br>
  <h4>現在の会員数: <%= @users_num %></h4>
  <h4>現在の商品数: <%= @products_num %></h4>
  <h4>現在のイベント数: <%= @events_num %></h4>
</section>