<h1><%= @user.name %>さんの購入履歴</h1>
<% if @purchases.count == 0 %>
  <p>購入履歴はありません</p>
<% else %>
  <table border="3">
    <tr>
      <th>購入日</th>
      <th>商品名</th>
    </tr>
    <% @purchases.each do |p| %>
      <tr>
        <td><%= p.created_at.strftime('%Y/%m/%d_%H:%M:%S') %></td>
        <td><%= @products[(p.product_id - 1)].name %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<%= link_to 'TOP', root_path %>