<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1>ペイパル履歴からのインポート</h1>
      <%= form_tag import_paypals_path, multipart: true do %>
        <%= file_field_tag :file %>
        <br>
        <%= submit_tag 'インポート', :class => 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>